In [2]:
import sklearn
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import tree
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, roc_curve, roc_auc_score

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
data = pd.read_csv("C:\\Users\\menka\\Downloads\\req_df.csv")
data.head(10)

,literacy,ses,age,gender,diabetic_status,fbs,sbp,dbp,dm_dur,dm_dur_cat,...,hba1c_cat_new,restype,sbp_cat_new,dbp_cat_new,pp,map,pp_cat,map_cat,htn_new,dr_status
0,2,1,48,1,2,153.0,120.0,82.0,5.276289,3,...,2,1,0,1,38.0,94.669998,0,1,1,0
1,2,2,62,0,2,141.0,130.0,70.0,2.000000,0,...,1,1,1,0,60.0,90.000000,1,0,0,0
2,2,1,44,1,2,167.0,203.0,103.0,3.000000,0,...,2,1,1,1,100.0,136.330002,2,2,1,0
3,2,2,53,0,2,156.0,152.0,88.0,8.000000,1,...,2,1,1,1,64.0,109.330002,2,2,1,0
4,2,2,50,0,2,124.0,129.0,79.0,8.000000,1,...,2,1,1,0,50.0,95.669998,1,1,1,0
5,2,2,45,1,2,192.0,200.0,120.0,5.276289,3,...,2,1,1,1,80.0,146.669998,2,2,1,0
6,2,2,46,0,2,205.0,121.0,80.0,5.276289,3,...,2,1,1,0,41.0,93.669998,1,1,1,1
7,3,2,45,1,2,177.0,110.0,75.0,3.000000,0,...,1,1,0,0,35.0,86.669998,0,0,0,1
8,3,2,65,0,2,244.0,145.0,75.0,27.000000,2,...,2,1,1,0,70.0,98.330002,2,1,1,1
9,2,2,50,1,2,276.0,161.0,81.0,5.276289,3,...,2,1,1,1,80.0,107.669998,2,2,0,0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3990 entries, 0 to 3989
Data columns (total 45 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   literacy              3990 non-null   int64
 1   ses                   3990 non-null   int64
 2   age                   3990 non-null   int64
 3   gender                3990 non-null   int64
 4   diabetic_status       3990 non-null   int64
 5   fbs                   3990 non-null   float64
 6   sbp                   3990 non-null   float64
 7   dbp                   3990 non-null   float64
 8   dm_dur                3990 non-null   float64
 9   dm_dur_cat            3990 non-null   int64
 10  diet_control          3990 non-null   int64
 11  oha                   3990 non-null   int64
 12  insulin               3990 non-null   int64
 13  htn                   3990 non-null   int64
 14  cv                    3990 non-null   int64
 15  ffa                   3990 non-null   int64
 16  bmi                   3990 non-null   float64
 17  csme                  3990 non-null   int64
 18  fbs_cat               3990 non-null   int64
 19  kd_nd                 3990 non-null   int64
 20  smoking_status        3990 non-null   int64
 21  typeofdm              3990 non-null   int64
 22  dme_odpresentabsent   3990 non-null   int64
 23  csme_ospresentabsent  3990 non-null   int64
 24  urineforproteinuria   3990 non-null   int64
 25  hba1c                 3990 non-null   float64
 26  age_cat               3990 non-null   int64
 27  bmi_cat               3990 non-null   int64
 28  fbs_cat_new           3990 non-null   int64
 29  bmi_cat_new           3990 non-null   int64
 30  stdr                  3990 non-null   int64
 31  kd_nd_1               3990 non-null   int64
 32  sbp_cat               3990 non-null   int64
 33  dbp_cat               3990 non-null   int64
 34  hba1c_cat             3990 non-null   int64
 35  hba1c_cat_new         3990 non-null   int64
 36  restype               3990 non-null   int64
 37  sbp_cat_new           3990 non-null   int64
 38  dbp_cat_new           3990 non-null   int64
 39  pp                    3990 non-null   float64
 40  map                   3990 non-null   float64
 41  pp_cat                3990 non-null   int64
 42  map_cat               3990 non-null   int64
 43  htn_new               3990 non-null   int64
 44  dr_status             3990 non-null   int64
dtypes: float64(8), int64(37)
memory usage: 1.4 MB

In [8]:
data.columns

Index(['literacy', 'ses', 'age', 'gender', 'diabetic_status', 'fbs', 'sbp',
       'dbp', 'dm_dur', 'dm_dur_cat', 'diet_control', 'oha', 'insulin', 'htn',
       'cv', 'ffa', 'bmi', 'csme', 'fbs_cat', 'kd_nd', 'smoking_status',
       'typeofdm', 'dme_odpresentabsent', 'csme_ospresentabsent',
       'urineforproteinuria', 'hba1c', 'age_cat', 'bmi_cat', 'fbs_cat_new',
       'bmi_cat_new', 'stdr', 'kd_nd_1', 'sbp_cat', 'dbp_cat', 'hba1c_cat',
       'hba1c_cat_new', 'restype', 'sbp_cat_new', 'dbp_cat_new', 'pp', 'map',
       'pp_cat', 'map_cat', 'htn_new', 'dr_status'],
      dtype='object')

In [18]:
# features we have to use are [[[fbs, sbp, dbp, dm_dur, bmi, hba1c, pp, age]]]
X = data.drop(columns=['literacy', 'ses', 'gender', 'diabetic_status',
                       'dm_dur_cat', 'diet_control', 'oha', 'insulin', 
                       'htn','cv', 'ffa', 'csme', 'fbs_cat', 'kd_nd', 'smoking_status',
                       'typeofdm', 'dme_odpresentabsent', 'csme_ospresentabsent',
                       'urineforproteinuria', 'age_cat', 'bmi_cat', 'fbs_cat_new',
                       'bmi_cat_new', 'stdr', 'kd_nd_1', 'sbp_cat', 'dbp_cat', 'hba1c_cat',
                       'hba1c_cat_new', 'restype', 'sbp_cat_new', 'dbp_cat_new','map',
                       'pp_cat', 'map_cat', 'htn_new', 'dr_status'])
y = data.dr_status

In [19]:
X

      age    fbs    sbp    dbp    dm_dur        bmi  hba1c     pp
0      48  153.0  120.0   82.0  5.276289  23.520000    9.0   38.0
1      62  141.0  130.0   70.0  2.000000  21.740000    6.3   60.0
2      44  167.0  203.0  103.0  3.000000  27.090000    8.9  100.0
3      53  156.0  152.0   88.0  8.000000  23.559999   10.0   64.0
4      50  124.0  129.0   79.0  8.000000  24.770000    7.8   50.0
...   ...    ...    ...    ...       ...        ...    ...    ...
3985   54  102.0  120.0   90.0  0.083333  26.159300    5.9   30.0
3986   49  134.0  120.0   80.0  0.250000  25.777800    4.4   40.0
3987   65  317.0  140.0   84.0  2.000000  22.656300   10.4   56.0
3988   55  190.0  170.0  100.0  3.000000  33.622101    8.5   70.0
3989   48  348.0  132.0   88.0  0.083333  20.061701    9.1   44.0

[3990 rows x 8 columns]

In [16]:
data.dr_status.value_counts()

0    3133
1     857
Name: dr_status, dtype: int64

In [26]:
scaler = StandardScaler()
x_tranformed = scaler.fit_transform(X)

In [28]:
x_train,x_test,y_train,y_test = train_test_split(x_tranformed,y,test_size = 0.30, random_state= 355)

In [31]:
y_train.value_counts()

0    2204
1     589
Name: dr_status, dtype: int64

In [32]:
clf = DecisionTreeClassifier()
clf.fit(x_train,y_train)
clf.score(x_test,y_test)

0.7568922305764411

In [34]:
#using grid search cv to improve accuracy
grid_param = {
    'criterion': ['gini', 'entropy'],
    'max_depth' : range(2,32,1),
    'min_samples_leaf' : range(1,10,1),
    'min_samples_split': range(2,10,1),
    'splitter' : ['best', 'random']
    }

In [35]:
grid_search = GridSearchCV(estimator=clf, param_grid= grid_param, n_jobs=-1, cv=5)

In [36]:
grid_search.fit(x_train, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(2, 32),
                         'min_samples_leaf': range(1, 10),
                         'min_samples_split': range(2, 10),
                         'splitter': ['best', 'random']})

In [41]:
print(grid_search.best_params_)
print(f"best score:::>>>> {grid_search.best_score_}")

{'criterion': 'gini', 'max_depth': 3, 'min_samples_leaf': 2, 'min_samples_split': 2, 'splitter': 'best'}
best score:::>>>> 0.8571412083790179

In [43]:
final_model = DecisionTreeClassifier(criterion ='gini',
                                     max_depth= 3,
                                     min_samples_leaf= 2,
                                     min_samples_split= 2,
                                     splitter= 'best')

In [44]:
final_model.fit(x_train, y_train)
final_model.score(x_test, y_test)

0.847953216374269

In [46]:
import pickle

# Save trained model to file
pickle.dump(final_model, open("DR_model.pkl", "wb"))

In [50]:
# Predicting the Outcome Using New data
loaded_model = pickle.load(open("DR_model.pkl", "rb"))
loaded_model.predict(x_test)
loaded_model.score(x_test,y_test)

0.847953216374269

In [61]:
X.head(1)

   age    fbs    sbp   dbp    dm_dur    bmi  hba1c    pp
0   48  153.0  120.0  82.0  5.276289  23.52    9.0  38.0

In [66]:
X.columns

Index(['age', 'fbs', 'sbp', 'dbp', 'dm_dur', 'bmi', 'hba1c', 'pp'], dtype='object')

In [69]:
data[data.dr_status==1][['age', 'fbs', 'sbp', 'dbp', 'dm_dur', 'bmi', 'hba1c', 'pp']]

      age    fbs    sbp    dbp     dm_dur        bmi  hba1c    pp
6      46  205.0  121.0   80.0   5.276289  20.280001   12.9  41.0
7      45  177.0  110.0   75.0   3.000000  28.100000    6.4  35.0
8      65  244.0  145.0   75.0  27.000000  23.730000   12.3  70.0
17     49  176.0  134.0   78.0   7.000000  26.120001    9.6  56.0
19     59  117.0  130.0   70.0   4.000000  21.360001    6.9  60.0
...   ...    ...    ...    ...        ...        ...    ...   ...
3937   74  142.0  122.0   78.0   1.083333  20.519100    9.4  44.0
3948   72  210.0  128.0   86.0   0.083333  29.296900   11.8  42.0
3970   62  105.0  120.0   90.0   0.333333  19.052000    9.7  30.0
3984   51   82.0  136.0   82.0   0.083333  20.028799   11.8  54.0
3988   55  190.0  170.0  100.0   3.000000  33.622101    8.5  70.0

[857 rows x 8 columns]

In [70]:
age =input()
fbs =input()
sbp =input()
dbp =input()
dm_dur =input()
bmi =input()
hba1c =input()
pp =input()

51
82
136
82
0.0833333
20.028799
11.8
54.0

In [71]:
row_df = pd.DataFrame([pd.Series([age, fbs, sbp, dbp, dm_dur, bmi, hba1c, pp])])

In [72]:
sc_row_df = scaler.transform(row_df)

C:\Users\menka\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [73]:
loaded_model.predict(sc_row_df)

array([0], dtype=int64)